*{
    padding: 0px;
    margin: 0px;
}

html{
    background-color: lightblue;
}

header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to bottom,transparent 0%,blue 100%);
}

h1{
    text-align: center;
    padding-right: 110px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: rgb(119,187,233);
}

#imagem{
   height:70%;
   padding-top: 15px;
   padding-right: 20px;
}

ul {
    padding-top: 50px;
    margin-left: 10px;
    list-style-type: none;
    color: rgb(119,187,233);
}
li {
    display: inline;
    padding: 0px 10px;
}
a {
    text-decoration: none;

}


.tabela{
    background-color: rgb(71,106,221);
    border-radius: 20px;
    color: white;
    padding: 50px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    
}

h2{
    padding-top: 5px;
    color: rgb(21,18,219);
    font-weight: bold;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
    
}

.centro{
    display: grid;
    grid-template-columns: 35%  35% 40%;
    grid-template-rows: 12% 150% 30%;

}

#buttonEnviar:hover{
    cursor: pointer;
    background-color:rgb(119,187,233); ;
    border-color:blue;
    margin: 10px;
    width: 100px;
    align-self: center;

}
#buttonCadastrar:hover{
    cursor: pointer;
    background-color:rgb(119,187,233); ;
    border-color:blue;
    margin: 10px;
    width: 100px;
    align-self: center;

}
#buttonListar:hover{
    cursor: pointer;
    background-color:rgb(119,187,233); ;
    border-color:blue;
    margin: 10px;
    width: 100px;
    align-self: center;

}

.botaoI{
    width: 100px;
    background-color: blue;
    color: antiquewhite;
    border: 20px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
input{
    height:6%;
    width: 140px;
    border-radius: 10px;
}

#categoria{
    height:6%;
    width: 140px;
    border-radius: 10px;
}
#unidade{
    height:6%;
    width: 140px;
    border-radius: 10px;
}
